<% content_for :metadesc do %>
    <meta name="description" content="We provide access to the financial statements of thousands of US companies. For your convenience, all financials are presented in as a single Excel spreadsheat file.">
<% end %>
<% content_for :canonical do %>
  <link rel="canonical" href="/about">    
<% end %>


<div class="row">
<div class="col-md-8 col-md-offset-2">
<p>We provide access to the financial statements of thousands of
  publicly traded US companies. For your convenience, all financials are presented in as a single Excel spreadsheat file. You can access those
  financials <%= link_to 'here', "/download-excel-financial-statements" %>.</p>

<p> PublicSecurties.com aims to provide financial data for
investors. We view public securities as the key means to preserve and
accumulate wealth in a modern world. Information about those
securities is vital to making correct decisions regarding their
acquisition and use to that end.</p>

<p> For publicly traded companies, the financials are of highest
  importance to investors/owners. We are constantly working to add
  more accessible data to the website</p>

<p> We would love to hear from you, fellow investor, about how we can
  improve this site, or if you just
  want to talk investing. Feel free to contact us  <%= link_to 'here', contact_path %>.</p>
</div>
</div>
