<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.publicsecurities.com" data-text="Cool financial site providing statements in Excel for any company" data-via="PBSecurities" data-size="large" data-count="none" data-hashtags="publicsecurities"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
