<div class="center jumbotron">
  <h1>Download Financial Statements in Excel Format</h1>
  <h2>Get the financials of any company, including profit loss,
  balance, and cash flow statements, current or historic, and all in
  <span class="green">Excel</span> spreadsheets.</h2>
</div>
<%= render 'form' %>


