<% content_for :metadesc do %>
    <meta name="description" content="Get Excel spreadsheets of
    financial statements for any company. Search by company ticker and
    year, and get the reports!">
<% end %>
<% content_for :canonical do %>
  <link rel="canonical" href="/download-excel-financial-statements">    
<% end %>
<div class="jumbotron">
  <div class="row">   
  <div class="col-sm-6">   
    <h1>Download Financial Statements in Excel Format</h1>
  </div>
  <div class="col-sm-6 bottom-column">   
    <%= render 'form' %>
  </div> 
  </div> 
</div>



