@import "bootstrap-sprockets";
@import "bootstrap";

$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;

@mixin centeralize {
    width:1000px;
    margin:0px auto; /* Right and left margin widths set to "auto" */
    text-align:left; /* Counteract to IE5/Win Hack */
    padding-top: 60px;
}
/*
body {
    background-color: #fff; 
    color: #333; 
    margin:50px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. 
    text-align:center; /* Hack for IE5/Win
    /* font-size: 1.7em; 
    /* line-height: 1.7em;
    /* padding-top: 60px;
    font-family: $sans;
}
*/
#container {
    @include centeralize;       
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.contact {
   font-weight: bolder;
   font-style: oblique;      
   color: green; /* #005C00; */
}

.results {
  font-size: 1.5em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2 .green{
 color: green;
}

h1 {
  font-size: 2.5em;
  font-family: $heading-font-family;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  font-family: $serif;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  font-style: italic; 
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: $gray-light;
  font-size: 1.4em;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

/* Form Error Validation */

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.error-note{
  display: inline-block; 
  float: right;
  color: red !important;
  font-style: bolder !important;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h3 {
    float: center;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}