// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;


.jumbotron {
   position: relative;
   background: #FFF image-url('backcanvas.png') center center;
   background-size: cover;
   /*background-image: ;*/
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   overflow: hidden;
 }


.my_form {
  font-size: 1.3em;
}

.results {
  font-size: 1.3em;
}

.navlogo {
    letter-spacing: 0.1em;
    font-variant: small-caps;
    font-family: "Lato",sans-serif;
    color: #FFF;
    margin-left: 1.15em !important;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2 .green{
 color: green;
}

h1 {
  font-size: 2.5em;
  font-family: $heading-font-family;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  font-family: $serif;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  font-style: italic; 
  color: $gray-light;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}
