<footer class="footer">
  <div class="container-fluid">
 
  <nav>
    <ul>
      <li>Thank you for using this site.</li>
      <!--li><%= link_to "Download Excel Financial Statements", "/download-excel-financial-statements" %></li>
      < li><%= link_to "About",   '#' %></li -->
    </ul>
  </nav>
 </div>
</footer>
