<footer class="footer">
  <small>
    Thank you for using this site. Let us know what you think &rarr;
  </small>
  <nav>
    <ul>
      <li class="contact"><%= link_to "Contact Us!", contact_path %></li>
      <li><%= link_to "Home",   '/' %></li>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>
