<footer class="footer">
  <div class="container-fluid">
 
  <nav>
    <ul>
      <li> Help us make this site better, <%= link_to "let us know
      what you think", "/contact" %></li>
      <!--li><%= link_to "Download Excel Financial Statements", "/download-excel-financial-statements" %></li>
      < li><%= link_to "About",   '#' %></li -->
    </ul>
  </nav>
 </div>
</footer>
