
<header class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header navbar-left">
      <a class="navbar-brand" href="/download-excel-financial-statements">
        <!--div class="logo-adjust-image" -->
          <!--%= image_tag 'tiny_logo.png' %-->
      </a>
      <%= link_to "PublicSecurities.com", "/download-excel-financial-statements", class: "navbar-brand navlogo" %>
    </div>

    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Excel Financials",   "/download-excel-financial-statements" %></li>
        <li><%= link_to "Blog",   '/blog' %></li>
        <li><%= link_to "About",   '/about' %></li>
      </ul>
    </nav>

  </div>
</header>
