
<header class="navbar navbar-inverse">
  <div class="container-fluid">
  <%= link_to "PublicSecurities.com", "/download-excel-financial-statements", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Download Excel Financial Statements",   "/download-excel-financial-statements" %></li>
        <!-- li><%= link_to "Help",   '#' %></li -->
        <!-- li class="contact"><%= link_to "Contact", contact_path %></li -->
      </ul>
    </nav>
  </div>
</header>
