<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Financial Statments", 'download-excel-financial-statements', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Download Excel Financial Statements",   'download-excel-financial-statements' %></li>
        <!-- li><%= link_to "Help",   '#' %></li -->
        <!-- li class="contact"><%= link_to "Contact", contact_path %></li -->
      </ul>
    </nav>
  </div>
</header>
